<h1>orpheus_tw</h1>

<p><a href="/">作曲する</a></p>

<ul>
<% @songs.each do |song| %>
  <li>
    <%= song.id %> : "<%= link_to h(song.text), song %>", "<%=h song.comment %>", "<%=h song.useragent %>", "<%=h song.remoteip %>"
  </li>
<% end %>
</ul>

<p><a href="/#about">これは何？</a></p>

