<% if @song.composition == nil %>

<p>作曲しています。約30秒お待ちください。</p>
<p>歌詞：<%=h @song.text %></p>
<p>コメント：<%=h @song.comment %></p>
<%= link_to '再読み込み', :controller => 'songs', :action => 'show', :id => @song.id %>

<% elsif @song.composition == '0' %>

<p>作曲またはツイートに失敗しました。</p>
<p>歌詞：<%=h @song.text %></p>
<p>コメント：<%=h @song.comment %></p>
<p><a href="/">もう一度作曲する</a></p>

<% else %>

<p>歌詞：<%=h @song.text %></p>
<p>コメント：<%=h @song.comment %></p>
<p>
<a href="http://orpheus.hil.t.u-tokyo.ac.jp/automatic-composition/index.cgi?sound=<%=h @song.composition %>&amp;_format=_.mp3">曲を聞く</a>
</p>
<p>
<a href="http://orpheus.hil.t.u-tokyo.ac.jp/automatic-composition/index.cgi?score=<%=h @song.composition %>&amp;_format=_.gif">楽譜を見る</a>
</p>
<p><a href="/">もっと作曲する</a></p>

<% end %>

<p><a href="/#about">これは何？</a></p>


